html{
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #00474B;
  width: 100%;
  min-height: 100vh;
}

.app{
  height: 100%;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.add_app{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

form input{
  display: block;
  width: 60%;
  border-color: black;
  border-radius: 50px;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 20px;
}

form input:focus{
  outline: none;
  box-shadow: rgba(0,0,0,0.7) 0px 0px 0px 2px;
}

form button{
  padding: 10px 15px;
  background-color:white;
  border: 1px solid;
  border-radius: 10px;
}

form button i{
  font-size: 23px;
}

.task_list{
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px; 
  list-style: none
}

.task_list h1{
  display: block;
  text-align: center;
  font-size: 26px;
  margin: 0px;
  margin-bottom: 10px;
  color: #fff;
}

.task{
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #26C2AD;
  color: white;
}

.task div{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.task div p{
  flex-basis: 49%;
  display: block;
  font-size: 14px;
  margin : 5px 0;
}

.task .display h2{
  text-align: left;
  font-size: 22px;
  margin : 10px 0;
}
.task .icons{
  display: flex;
  flex-direction: row;
  flex-basis: 100px;
}
.task .delete{
  flex-basis: 10%;
  height: 100%;
  text-align: center;
  padding: 0 5px;
}

.task .delete i{
  font-size: 30px;
}

.task .delete:hover i{
  color: red;
}

.task .done{
  flex-basis: 10%;
  height: 100%;
  text-align: center;
  padding: 0 5px;
}

.task .done i{
  font-size: 30px;
}

.task .redo{
  flex-basis: 10%;
  height: 100%;
  text-align: center;
}

.task .redo i{
  font-size: 30px;
  padding: 0 5px;
}

.task .redo:hover i{
  color: blue;
}

.task .done:hover i{
  color: green;
}

@media screen and (orientation : portrait) and (min-width : 600px) {
  body{
    background-image: linear-gradient(#6ff7e8, #1f7ea1);
    background-repeat: no-repeat;
  }
  .app{
    width: 500px;
    margin: 50px auto;
    background-color: #00474B;
    border-radius: 20px;
  }
}

@media screen and (orientation : portrait) and (min-width : 767px) {
  body{
    background-image: linear-gradient(#6ff7e8, #1f7ea1);
    background-repeat: no-repeat;
  }
  .app{
    width: 600px;
    margin: 50px auto;
    background-color: #00474B;
    border-radius: 20px;
  }
}

@media screen and (orientation : landscape) {
  form input{
    width: 70%;
  }
}

@media screen and (orientation : landscape) and (min-width : 700px){
  body{
    background-image: linear-gradient(#6ff7e8, #1f7ea1);
    background-repeat: no-repeat;
  }
  .app{
    width: 600px;
    margin: 50px auto;
    background-color: #00474B;
    border-radius: 20px;
  }
}

@media screen and (orientation : landscape) and (min-width : 1023px){
  .app{
    width: 800px;
    margin: 50px auto;
    background-color: #00474B;
    border-radius: 30px;
  }
}

@media screen and (orientation : landscape) and (min-width : 1200px){
  .app{
    width: 900px;
    margin: 50px auto;
    background-color: #00474B;
    border-radius: 30px;
  }
}